STORAGE_CLIENT_ID=
STORAGE_CLIENT_SECRET=
STORAGE_ENDPOINT=
STORAGE_BUCKET=
ORIGIN_URL="" # eg: "http://localhost" depending on your nginx config changes
GITHUB_TOKEN="" # required for github version resolutions

# uncomment the below to enable cache clearing based on the passed duration
# CLEAR_CACHE_TIME="10m" 
