# FIXME:
# DISABLED STORAGE FOR THE INITIAL VERSION SINCE BUILDING IS LIMITED TO A FEW SECONDS
version: "3.4"
services:
  api:
    build: "."
    container_name: goblin_api
    env_file: .env
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - "./:/usr/src/app"

  nginx:
    container_name: goblin_nginx
    depends_on:
      - api
    hostname: nginx
    image: "nginx:1.19.2-alpine"
    ports:
      - "80:80"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
