:root {
  --color-black-0: #18181b;
  --color-black-1: #27272a;
  --color-black-2: #3f3f46;
  --color-black-3: #52525b;
  --color-black-4: #e4e4e7;
  --color-black-5: #f4f4f5;
  --color-black-6: #fafafa;

  --success: #6db95a;
  --error: #dd5e5e;
  --white: var(--color-black-6);
  --accent: var(--success);
  --theme-ui-colors-primary: #e5c07b;
  --logo-accent: var(--white);
  --bg: var(--color-black-0);
  --bg-light: var(--color-black-1);
  --bg-lighter: var(--color-black-2);
  --fg: var(--color-black-6);
  --fg-light: var(--color-black-5);
  --fg-lighter: var(--color-black-4);
  --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: calc(1rem * 1.8);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.red {
  color: indianred;
}
